<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>
        <%= find_case.Name %>
    </h1>

    <div>
        <div>Crime : <%= find_case.Crime %></div>
        <div>Status : <%= find_case.Status %></div>
        <div>Hearing : <%= find_case.Hearing %></div>
        <div>Priority : <%= find_case.Algo_data.Priority %></div>
        <div>Petioner</div>
        <div>Respondent</div>
        <div>Case_Type</div>

    </div>

</body>
</html>